<p class="card-details__paragraph">Participation in the Massachusetts Approach to Partnership in Parenting (MAPP)
	curriculum is required of all prospective foster and adoptive families in Massachusetts.  MAPP Training is
	offered both by the Department of Children and Families (DCF) and contracted adoption agencies.  MARE does
	not offer MAPP training.  After a prospective family’s application has been submitted to an agency and
	preliminary screenings are met with approval, families will be invited to attend the ten week training.</p>
 
<p class="card-details__paragraph">The training curriculum prepares adults to adopt a child from foster care who
	has experienced neglect and abuse. The training covers such topics as communication, building self-esteem,
	child guidance, understanding behaviors, and working with agencies and courts. The training will also include
	discussions about the children who are waiting to be adopted and resources and support available to you as
	an adoptive family.</p>

<p class="card-details__paragraph">The agencies and organizations that provide MAPP training are:<br>
	DCF-Statewide at 1-800-543-7508 or https://www.mass.gov/how-to/apply-to-adopt-a-child
	Ascentria Care Alliance – Worcester: Eryne Cotter (774) 243-3072 or ECotter@ascentria.org
	Berkshire Child and Family Services – Hadley: Alaina Fox at (413) 584-5690 x116 or afox@bershirechildren.org
	Bright Futures Adoption Center/RFK – Acton: Karen Cheyney at (978) 263-5400 or kcheyney@rfkchildren.org
	Cambridge Family and Children’s Service – Cambridge: Sarah Medrano-Palmer at (617) 876-4210 or smedrano-palmer@helpfamilies.org
	Child and Family Services – Lawrence: Kali Martin at (978) 687-5852 ext.237 or kmartin@cfservices.org
	Child and Family Services – Fall River: Kerry Mello at (774)-488-5072 or kerrymello@cfservices.org
	Children’s Friend – Worcester: Veronica Listerud at (508) 753-5425 or vlisterud@childrensfriend.org
	Massachusetts Society for the Prevention of Cruelty to Children (MSPCC)- Jamaica Plain: Sybil Turk, at (617)-587-1519 or sturk@mspcc.org
	The Home for Little Wanderers – Dorchester: Karin Gemeinhardt at (617) 264-5368 or Kgemeinhardt@thehome.org</p>
 
<p class="card-details__paragraph">The following is a list of upcoming MAPP Trainings.</p>